body {
  margin: 0;
  font-family: "Hind", sans-serif;
  background: linear-gradient(180deg, #f1f2f6 27.39%, #ffffff 64.88%);
}
a {
  text-decoration: none;
  color: #f1f2f6;
}
.LOGO {
  height: 62px;
  display: inline-block;
}
.barra-nav {
  width: 100%;
  position: fixed;
  background: #321d50;
  font-weight: 700;
  color: white;
  font-size: 25px;
  z-index: 90;
}
.botao-barra {
  background-color: #321d50;
  color: #f1f2f6;
  padding: 12px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  font-family: "Hind", sans-serif;
  font-weight: 700;
}
.item-barra {
  position: relative;
  display: inline-block;
}
.item-barra-logo {
  position: relative;
  display: inline-block;
  height: 62px;
  vertical-align: middle;
}
.cascata {
  display: none;
  position: absolute;
  background-color: #f1f2f6;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.cascata a {
  color: #321d50;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
}
.item-barra:hover .botao-barra {
  background: #758bfd;
  color: #f1f2f6;
}
.item-barra:hover .cascata {
  display: block;
}
.cascata a:hover {
  background: #ffffff;
}
.principal {
  padding: 2.4% 3.5% 0 3.5%;
  align-items: center;
}
.apresentacao {
  font-size: 35px;
  color: #321d50;
}
.descricao {
  font-weight: 400;
  color: #321d50;
  font-size: 22px;
  text-align: justify;
}
.titulo {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #321d50;
}
.visao {
  width: 50%;
  box-sizing: border-box;
  border: 3px solid #321d50;
  border-radius: 10px;
  margin: 0 auto;
  padding: 15px;
  box-shadow: inset 0px 4px 100px 10px #758bfd40;
}
.blocos {
  font-size: 30px;
  font-weight: 400;
  color: #321d50;
  text-align: center;
}
.bloco1-img {
  width: 30%;
  display: block;
  margin: 0 auto;
}
.missao {
  width: 25%;
  list-style-type: none;
  height: auto;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 100px 10px #758bfd40;
  border: #321d50 2px solid;
  border-radius: 10px;
  padding: 15px;
}
li .blocos {
  font-size: 30px;
}
#missao {
  display: flex;
  padding: 0;
}
#missao li {
  display: grid;
  align-items: center;
  margin: 0 auto;
  transition: 0.5s;
}
#missao li:hover {
  transform: scale(1.05);
}
footer {
  height: 200px;
  width: 100%;
  background: #758bfd;
  margin-top: 5%;
  padding: 40px 0;
  box-sizing: border-box;
}
.rodape {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}
.img-rodape {
  height: 60px;
}
footer div {
  margin: 0 auto;
  width: 10 0%;
  display: flex;
  justify-content: space-around;
}
.gold,
.silver,
.bronze,
p {
  margin: 0;
}
.gold {
  color: gold;
  font-weight: 700;
}
.silver {
  color: silver;
  font-weight: 700;
}
.bronze {
  color: #cd7f32;
  font-weight: 700;
}
.achiever {
  color: rgb(171, 35, 112);
  font-weight: 700;
}
.premios {
  display: flex;
}
.premios div {
  margin: 0 auto;
}
.premios h3 {
  font-size: 25px;
}
.premios p {
  font-size: 20px;
}
h1 {
  color: #321d50;
}
.pimso {
  display: flex;
  vertical-align: bottom;
}
.ice,
.sismo {
  height: 20vh;
}
.aviso {
  font-size: 10px;
}
.iymc {
  height: 15vh;
}
.work {
  height: 50vh;
}
.work-div {
  display: flex;
  justify-content: space-around;
}
.rede_sociais {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
